<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="3; URL='/login'">
    <link rel="stylesheet" href="./stylesheets/stylesError.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">

    <title>Error 401</title>
</head>
<body>
    <header>

        <nav>
            <h1>Zona gaming</h1>
            <ul>
                <li><a href="/playStation" class="categories">Playstation 5</a></li>
                <li><a href="/xbox" class="categories">Xbox Series</a></li>
                <li><a href="/nintendo" class="categories">Nintendo Swicth</a></li>
           
            </ul>
        </nav>
    </header>
    <section>
        <p>
            <b>Error 401</b>:No estas autorizado para ingresar a esta seccion, por favor inicia sesion para continuar.
        </p>
        <p>
            Reedirigiendo al inicio de sesion...
        </p>
    </section>
    
</body>
</html>