<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>InicioSesion</title>
    <link rel="stylesheet" href="styles2.css">
</head>
<body class="body"> 
    <section class="form-main">
        <div class="form-content">
            <div class="img-Usuario">
                <img src="imgp/Ellipse 4.png" alt="usuario">
            </div>
            <div class="formulario">
                <form action="" method="post">
                    <div class="input-S">
                        <input type="text" placeholder="Usuario" name="userName" class="input-control" required>
                    </div>
    
                    <div class="input-S">
                    <input type="password" placeholder="Contraseña" name="password" class="input-control" required>
                    </div>
    
                    <input type="submit" value="Iniciar Sesion">
                </form>
                <p>¿No estás registrado?<a href="/register">Registrate aqui</a></p>
            </div>

        </div>

    </section>
</body>
</html>