<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./stylesheets/stylesNintendo.css">
    <link rel="stylesheet" href="./stylesheets/stylesFooterHeader.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <script src="./javascript/menu.js"></script>
    <header>
        <div class="title-logo">
            <a href="/"><h1 >Zona gaming</h1></a>
        </div>
        <div class="button-open">
            <button class="open-menu" id="open" onclick="openButtonNintendo()">
                <i class="bi bi-list"></i>
            </button>
        </div>
        <nav class="nav" id="nav">
            <ul>
                <button class="close-menu" id="close" onclick="closeButtonNintendo()"><i class="bi bi-x-lg"></i></button>
                <li><a href="/playstation" class="categories playstation5">Playstation 5</a></li>
                <li><a href="/Xbox" class="categories xbox" >Xbox Series</a></li>
                <li><a href="/nintendo" class="categories nintendo">Nintendo Swicth</a></li>
                <li><a href="/logout" class="button-login">Cerrar Sesion</a></li>
            </ul>
        </nav>
    </header>

    <section class="main"> 

        <section class="background" id="back">
            <article class="start">
                <article class="text">
                    <h1 class="title">Sal de la realidad y potencia tu diversión</h1>
      
                        <p>Los juegos de video son productos que ayudan a la recreación y entretenimiento del ser humano, son diseñados específicamente para conseguir horas de diversión, permitiendo el descanso de la cotidianidad. Nintendo Switch es una consola de videojuegos desarrollada por Nintendo, La Nintendo Switch es una consola “híbrida”, lo que significa que está diseñada como consola doméstica y como dispositivo portátil.
                        </p>
                        <p>Nintendo Switch viene con dos mandos que se pueden acoplar a la consola o utilizar de forma inalámbrica, llamados “Joy-Cons”. La Nintendo Switch tiene una pantalla multitáctil capacitiva de 6,2 pulgadas con una resolución de 1280×720, Nintendo Switch también es compatible con el juego multijugador en línea a través de un servicio de suscripción de pago llamado Nintendo Switch Online.</p>
                </article>
            </article>    
        </section>

        <section class="consola">
            <article class="consola-description">
                <h1 class="title">Consola nintendo switch</h1>
                <article class="description">
                    <div class="img-consola">
                        <img src="./images/nintendo.png" alt="nintendo-swicth" width="100%">
                    </div>
                    <p class="text-description">Nintendo Switches es tan versátil que puede dar como resultado hasta tres experiencias diferentes de juego. El sistema puede actuar como una portátil clásica con su pantalla y botones; también puede actuar como una consola de sobremesa con un control más tradicional sobre un dock; y finalmente un estilo portátil más cómodo donde situar el módulo principal sobre una superficie plana y hacer uso de los mandos.
                    </p>
                </article>
            </article>
        </section>
        <section class="games">
            
                <h1 class="title">Juegos</h1>
                <article class="cataloge-games">
    
                    <div class="card">
                        <h2 class="title-catalogue">The Legend of Zelda: Tears of the Kingdom</h2>
                        <div class="img-games">
                            <img src="./images/zelda.jpg" alt="zelda" width="100%">
                        </div>
                        <p>En esta secuela del juego The Legend of Zelda: Breath of the Wild, decidirás tu propio camino a través de los extensos paisajes de Hyrule y las islas que flotan en los vastos cielos. ¿Podrás aprovechar el poder de las nuevas habilidades de Link para luchar contra las malévolas fuerzas que amenazan al reino?</p>
                    </div>
                    <div class="card">
                        <h2 class="title-catalogue">Super Mario Bros. Wonder</h2>
                        <div class="img-games">
                            <img src="./images/mario-wonder.jpg" alt="mario-wonder" width="100%">
                        </div>
                        <p>Mario, Luigi, la princesa Peach, la princesa Daisy y un séquito de Toads y unos Yoshis, son invitados al reino vecino, el Reino Flor, por su gobernante, el príncipe Florian, para ver una demostración de una Flor Maravilla; Unos grandes tesoros del Reino Flor que pueden deformar la realidad. </p>
                    </div>
                    <div class="card">
                        <h2 class="title-catalogue">Super Mario Odyssey</h2>
                        <div class="img-games">
                            <img src="./images/mario-odyssey.jpg" alt="mario-odyssey" width="100%">
                        </div>
                        <p>Super Mario Odyssey nos invitará a encarnar una vez más al fontanero más famoso del ocio electrónico en una aventura en la que visitaremos nuevos y diversos mundos, reinos y lugares enigmáticos a bordo de nuestra aeronave.</p>
                    </div>
    
                    <div class="card">
                        <h2 class="title-catalogue">Monster Hunter Rise</h2>
                        <div class="img-games">
                            <img src="./images/Monster.jpg" alt="Monster" width="100%">
                        </div>
                        <p>Se desarrolla en la Aldea Kamura, una tierra inspirada en los ninjas, y te invita a explorar ecosistemas repletos de vida en los que les plantarás cara a monstruos imponentes para convertirte en el cazador definitivo. </p>
                    </div>
    
                </article>

        </section>
    </section>

    <footer>     
            <div class="social">
                <h3 class="title-logo-footer">Zona gaming</h3>
                <div class="icon-social">
                    <i class="bi bi-facebook"></i>
                    <i class="bi bi-linkedin"></i>
                    <i class="bi bi-whatsapp"></i>
                    <i class="bi bi-instagram"></i>
                </div>
            </div>
            <div class="collaborators">
                <div class="nombres">
                    <b>Colaboradores</b>
                    <a href="">Ricardo Briceño</a>
                    <a href="">Rachel Sanchez</a>
                    <a href="">Rafael Perez</a>
                </div>
                <div class="git">
                    <div class="users">
                        <b>GitHub</b>
                        <a href="">RicardoBRJ </a>
                        <a href="">betzabeth03</a>
                        <a href="">Rafael048</a>
                    </div>
                    <div class="icon">
                        <br>
                        <i class="bi bi-github"></i>
                        <i class="bi bi-github"></i>
                        <i class="bi bi-github"></i>
                    </div>
                </div>
            </div>
    </footer>
</body>
</html>