<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./stylesheets/playstation.css"><link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <header>

        <nav>
            <h1>Zona gaming</h1>
            <ul>
                <li><a href="" class="categories">Playstation 5</a></li>
                <li><a href="" class="categories">Xbox Series</a></li>
                <li><a href="" class="categories">Nintendo Swicth</a></li>
            <a href="/logout" class="button-login">Cerrar Sesion</a>
            
            </ul>
        </nav>
    </header>

</body>
</html>