<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="styles.css">

</head>
<body>
  <section class="form-section">
    <div class="form-content">
      <h1>Bienvenidos</h1>
      <div class="formulario">
        <form action="" method="post">
          <div class="input-R">
            <input type="text" placeholder="Nombre" name="name" class="input-control" required >
          </div>
    
          <div class="input-R">
            <input type="text" placeholder="Usuario" name="userName" class="input-control" required>
          </div>
    
          <div class="input-R">
            <input type="password" placeholder="Contraseña" name="password" class="input-control" required>
          </div>

          <input type="submit" class="registrarse" value="Registrarse">
        </form>

      </div>
  </div> 

  <div>
    <img src="imgp/Rectangle 1.png" alt="videojuego" class="img-registro">
</div>

<!--
  <div>
    <footer>Zona Gaming</footer>
  </div>
-->

  </section>
</body>
</html>