<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./stylesheets/stylesXbox.css"><link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <header>

        <nav>
            <a href="/"><h1 class="title-logo">Zona gaming</h1></a>
            <ul>
                <li><a href="/playStation" class="categories">Playstation 5</a></li>
                <li><a href="xbox" class="categories">Xbox Series</a></li>
                <li><a href="nintendo" class="categories">Nintendo Swicth</a></li>
                <a href="/logout" class="button-login">Cerrar Sesion</a>
            </ul>
        </nav>
    </header>

    <section class="main"> 
        
    </section>

    <footer>
        <article class="footer">
            <div class="social">
                <h3>Zona gaming</h3>
                <div class="icon">
                    <i class="bi bi-facebook"></i>
                    <i class="bi bi-linkedin"></i>
                    <i class="bi bi-whatsapp"></i>
                    <i class="bi bi-instagram"></i>
                </div>
            </div>
            <div class="colaboradores">
                <div class="nombres">
                    <b>Colaboradores</b>
                    <a href="">Ricardo Briceño</a>
                    <a href="">Rachel Sanchez</a>
                    <a href="">Rafael Perez</a>
                </div>
                <div class="git">
                    <b>GitHub</b>
                    <a href="">RicardoBRJ <i class="bi bi-github"></i> </a>
                    <a href="">betzabeth03 <i class="bi bi-github"></i></a>
                    <a href="">Rafael048 <i class="bi bi-github"></i></a>
                </div>
            </div>

        </article>
        

    </footer>
</body>
</html>