.categories.playstation5{
    background-color: white;
    color: black;
    border-radius: 2vw;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    flex-direction: column;
    font-size: 20px;

}

.title, .title-ps5, .title-accessories, .title-characteristics, .title-games{
    font-size: 4vw;
    justify-content: start;
    text-transform: uppercase;
    font-style: italic;
}

.title-ps5{
   background:url("../images/title1.png");
}

.title-accessories{
    background: url("../images/title2.png");
    color: white;
}

.title-characteristics{
    background: url("../images/title3.png");
    background-position-x: left;
    background-position-y: center;
    background-repeat: no-repeat;
    background-size:50%;
}

.title-games{
    background: url("../images/title4.png");
    color: white;
}

.title-ps5, .title-accessories, .title-games{
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px;
 }


 
.animation-accesories, 
.characteristics, 
.catalogue{
    view-timeline-name: --image;
    view-timeline-axis: block;

    animation-timeline: --image;
    animation-name: show;
    animation-range: entry 25% cover 50%;
    animation-fill-mode: both;

}

.description{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.animation-description{
    display: flex;
    width: 80%;
}

.img-description{
    width: 50%;
}

.img-description:hover{
    transform: scale(1.1);
    transition: all .6s ease;
    filter: drop-shadow( 2px 2px 100px rgb(69, 69, 233));
}


.ps5{
    display: flex;
    flex-direction: row;
    gap: 2vw;
    text-align: justify;

}

.text-description{
    width: 50%;
}

.accessories{
    display: flex;
    flex-direction: column;
    gap: 2vw;
    padding: 2vw;
    align-items: center;
    background-color: black;
}

.cards{
    display: flex;
    flex-direction: row;
    gap: 2vw;
    justify-content: center;
}

.card{
    display: flex;
    font-size: 16px;
    width: 20%;
    border-radius: 20px;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    background-color: rgba(58, 58, 58, 0.993);
    color: white;
    gap: 1vw;
    padding: 1vw;
}

.card:hover{
    transform: scale(1.1);
    transition: all .6s ease;
}


.image-card > img{
    border-radius: 50%;
}

.container{
    display: flex;
    gap: 2vw;
    flex-direction: row;
}

.image-ca{
    background: url(../images/muñeco.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    width: 80%;
}

.list{
    display: flex;
    flex-direction: row;
    gap: 3vw;
    padding: 2vw;
    width: 85%;
    flex-wrap: nowrap;
}

.list1{
    display: flex;
    flex-direction: column;
    gap: 2vw;
}

.list2{
    display: flex;
    flex-direction: column;
    gap: 2vw;
}

.games{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    padding: 1vw;
}

.catalogue{
    display: flex;
    flex-direction: row;
    width: 60%;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2vw;
}

.card-catalogue{
    display: flex;
    flex-direction: column;
    color: white;
    gap: 1vw;
    width: 40%;
    background-color: rgb(58, 58, 58);
    padding: 1vw;
    text-align: justify;
    border-radius: 20px;
}

.card-catalogue:hover{
    transform: scale(1.1);
    transition: all .6s ease;
}


@keyframes show{
    from {
        opacity: 0;
        scale:25%
    }
    to {
        opacity: 1;
        scale: 100%;
    }
}

@media (max-width:1300px){
    .ps5{
        flex-direction: column;
        align-items: center;
    }
    .text-description{
        width: 100%;
    }
    .card{
        width: 25%;
    }

    .catalogue{
        width: 70%;
    }
    .image-ca{
        width: 90%;
    }
    .list{
        flex-direction: column;
    }
}

@media (max-width:1024px) {

    .catalogue{
        width: 90%;
    }

    .card{
        width: 30%;
    }

    .card, .card-catalogue, .text-description, .characteristics{
        font-size: 14px;
    }


}

@media (max-width:768px){
    .cards{
        flex-direction: column;
        align-items: center ;
    }
    .card{
        width: 80%;
        padding: 2vw;
    }
    .image-card{
        width: 50%;
    }

    .catalogue{
        flex-direction: column;
        align-items: center;
    }
    .card-catalogue{
        width: 60%;
        padding: 2vw;
    }
}

@media (max-width:425px){

    .title-logo{
        font-size: 2vw;
    }
    .title-logo-footer{
        font-size: 3vw;
    }
    .collaborators,.git{
        font-size: 2vw;
    }
    .card, .card-catalogue, .text-description, .characteristics{
        font-size: 12px;
    }
    
    .catalogue{
        width: 100%;
    }
    .card{
        width: 90%;
    }
}
