*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inter ;
}

@font-face {
    font-family: inter;
    src: url(fuentess/Inter-VariableFont_slnt\,wght.ttf);
}

body{
    display: grid;
    text-align: justify;
}
a{
    text-decoration: none;
    color: white;
}
header{
    display: flex;
    flex-direction: row;
    background-color: black;
    color: white;
    height: 15vh;
    padding: 2vw;
    align-items: center;
}

.title-logo{
    width: 50%;
}


.categories{
    padding: 0.5vw;
    text-decoration: none;
    color: white;
}

.categories:hover{
    border-radius: 2vw;
    transition: all .6s ease;
    background-color: white;
    color: black;
}

nav{
    width: 50%;
}

nav > ul{
    display: flex;
    gap: 1vw;
    list-style: none;
    justify-content: space-between;
}

.button-login{
    background-color: white;
    padding: 0.5vw;
    color:black;
    text-align: center;
    border-radius: 2vw;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
.button-login:hover{
    background-color: black;
    color: white;
    border: 2px solid white;
    transition: all .6s ease;
}

footer{
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    padding: 2vw;
}



.collaborators{
    display: flex;
    flex-direction: row;
    gap: 2vw;
    width: 50%;
}
.social{
    display: flex;
    width: 50%;
    flex-direction: column;
    gap: 3vw;
}
.icon-social{
    display: flex;
    gap: 1.5vw;
}

.git{
    display: flex;
    flex-direction: row;
    gap: 1vw;
}
.nombres, .users, .icon{
    display: flex;
    flex-direction: column;
    gap: 1.5vh;
    text-align: justify;
}
.nombres > a, .git > a{
    text-decoration: none;
    color: white;
}

.nombres>a:hover{
    text-decoration: underline;
}
.git>a:hover{
    text-decoration: underline;
}

.playstation5{
    background-color: white;
    color: black;
    border-radius: 2vw;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 20px;

}

.title, .title-ps5, .title-accessories, .title-characteristics, .title-games{
    font-size: 4vw;
    justify-content: start;
    text-transform: uppercase;
    font-style: italic;
}

.title-ps5{
   background:url("../images/title1.png");
}

.title-accessories{
    background: url("../images/title2.png");
    color: white;
}

.title-characteristics{
    background: url("../images/title3.png");
    background-position-x: left;
    background-position-y: center;
    background-repeat: no-repeat;
    background-size:50%;
}

.title-games{
    background: url("../images/title4.png");
    color: white;
}

.title-ps5, .title-accessories, .title-games{
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px;
 }


 
.animation-accesories, 
.animation-description,
.characteristics, 
.catalogue{
    view-timeline-name: --image;
    view-timeline-axis: block;

    animation-timeline: --image;
    animation-name: show;
    animation-range: entry 25% cover 50%;
    animation-fill-mode: both;

}

.description{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.animation-description{
    display: flex;
    width: 80%;
}

.img-description:hover{
    transform: scale(1.1);
    transition: all .6s ease;
    filter: drop-shadow( 2px 2px 100px rgb(69, 69, 233));
}

.ps5{
    display: flex;
    flex-direction: row;
    gap: 2vw;
}

.text-description{
    width: 50%;
}

.accessories{
    display: flex;
    flex-direction: column;
    gap: 2vw;
    padding: 2vw;
    align-items: center;
    background-color: black;
}

.cards{
    display: flex;
    flex-direction: row;
    gap: 2vw;
    justify-content: center;
}

.card{
    display: flex;
    font-size: 16px;
    width: 20%;
    border-radius: 20px;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    background-color: rgba(58, 58, 58, 0.993);
    color: white;
    gap: 1vw;
    padding: 1vw;
}



.image-card > img{
    border-radius: 50%;
}

.container{
    display: flex;
    gap: 2vw;
    flex-direction: row;
}

.image-ca{
    background: url(../images/muñeco.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    width: 60%;
}

.list{
    display: flex;
    flex-direction: row;
    gap: 3vw;
    padding: 2vw;
    width: 85%;
    flex-wrap: nowrap;
}

.list1{
    display: flex;
    flex-direction: column;
    gap: 2vw;
}

.list2{
    display: flex;
    flex-direction: column;
    gap: 2vw;
}

.games{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    padding: 1vw;
}

.catalogue{
    display: flex;
    flex-direction: row;
    width: 60%;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2vw;
}

.card-catalogue{
    display: flex;
    flex-direction: column;
    color: white;
    gap: 1vw;
    width: 40%;
    background-color: rgb(58, 58, 58);
    padding: 1vw;
    text-align: justify;
    border-radius: 20px;
}

.card-catalogue:hover{
    transform: scale(1.1);
    transition: all .6s ease;
}


@keyframes show{
    from {
        opacity: 0;
        scale:25%
    }
    to {
        opacity: 1;
        scale: 100%;
    }
}