body{
    display: flex;
    flex-direction: column;
    gap: 3vw;
}

.main{
    font-size: 20px;
    display: flex;
    align-items: center; 
    flex-direction: column;
    gap: 2vw;
}

.welcome{
    width: 80%;
    display: flex;
    flex-direction: row;
    gap: 2vw;
}

.title{
    font-size: 4vw;
}

.paragraph{
    display: flex;
    flex-direction: column;
    gap: 1vw;
    text-align: justify;
    width: 50%;
}

.img-welcome{
    width: 50%;
}

.Playstation{
    display: flex;
    flex-direction: row-reverse;
    gap: 2vw;
    padding: 3vw;
    width: 80%;
    align-items: center;
}

.Playstation-overview{
    display: flex;
    flex-direction: column;
    gap: 1vw;
    text-align: justify;
    width: 60%;
}

.img-playstation{
   width: 40%;
}

.Xbox{
    display: flex;
    flex-direction: row;
    gap: 2vw;
    padding: 2vw;
    width: 80%;
}

.Xbox-overview{
    display: flex;
    flex-direction: column;
    gap: 1vw;
    text-align: justify;
    width: 60%;
}


.Nintendo{
    display: flex;
    flex-direction: row;
    width: 80%;
    gap: 2vw;
    padding: 3vw;
    align-items: center;
}
.Nintendo-overview{
    display: flex;
    flex-direction: column;
    gap:1vw;
    width: 50%;
    text-align: justify;
}

.carousel{
    display: flex;
    width: 80%;
    height: 80vh;
}

.carousel > img{
    width: 0;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: all .5s ease;
}

.carousel >img:hover{
    cursor: crosshair;
    width: 60%;
    opacity: 1;
    filter: contrast(120%);
}



.img-nintendo{
    width: 50%;
}

@keyframes show{
    from {
        opacity: 0;
        scale:25%
    }
    to {
        opacity: 1;
        scale: 100%;
    }
}

img,.Playstation-overview,.Xbox-overview, .Nintendo-overview{
    view-timeline-name: --image;
    view-timeline-axis: block;

    animation-timeline: --image;
    animation-name: show;
    animation-range: entry 25% cover 50%;
    animation-fill-mode: both;
}


@media (max-width:1440px) {
    .welcome,.Playstation,.Xbox,.Nintendo{
        font-size: 16px;
    }
    .img-xbox{
        width: 50%;
    }
}


@media (max-width:768px){
    .welcome,
    .Playstation,
    .Xbox,
    .Nintendo{
        flex-direction: column;
        align-items: center;
    }

    .paragraph,
    .Playstation-overview,
    .Xbox-overview,
    .Nintendo-overview{
        width: 100%;
        font-size: 14px;
    }
}

@media (max-width:600px){
    .carousel{
        width: 100%;
        height: 20vh;
    }    
}



@media (max-width:425px){
    .title{
        font-size: 20px;
    }
    .paragraph,
    .Playstation-overview,
    .Xbox-overview,
    .Nintendo-overview{
        font-size: 12px;
    }

    .img-welcome,.img-nintendo{
        width: 70%;
    }
}

@keyframes menu {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
