*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inter ;
}

@font-face {
    font-family: inter;
    src: url(fuentess/Inter-VariableFont_slnt\,wght.ttf);
}

body{
    display: grid;
    gap: 3vw;
}
a{
    text-decoration: none;
    color: white;
}
header{
    display: flex;
    flex-direction: row;
    background-color: black;
    color: white;
    height: 15vh;
    padding: 2vw;
    align-items: center;
}

.title-logo{
    width: 50%;
}


.categories{
    padding: 0.5vw;
    text-decoration: none;
    color: white;
}

.categories:hover{
    border-radius: 2vw;
    transition: all .6s ease;
    background-color: white;
    color: black;
}

nav{
    width: 50%;
}

nav > ul{
    display: flex;
    gap: 1vw;
    list-style: none;
    justify-content: space-between;
}

.button-login{
    background-color: white;
    padding: 0.5vw;
    color:black;
    text-align: center;
    border-radius: 2vw;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
.button-login:hover{
    background-color: black;
    color: white;
    border: 2px solid white;
    transition: all .6s ease;
}

footer{
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    padding: 2vw;
}



.collaborators{
    display: flex;
    flex-direction: row;
    gap: 2vw;
    width: 50%;
}
.social{
    display: flex;
    width: 50%;
    flex-direction: column;
    gap: 3vw;
}
.icon-social{
    display: flex;
    gap: 1.5vw;
}

.git{
    display: flex;
    flex-direction: row;
    gap: 1vw;
}
.nombres, .users, .icon{
    display: flex;
    flex-direction: column;
    gap: 1.5vh;
    text-align: justify;
}
.nombres > a, .git > a{
    text-decoration: none;
    color: white;
}

.nombres>a:hover{
    text-decoration: underline;
}
.git>a:hover{
    text-decoration: underline;
}


.main{
    font-size: 20px;
    display: grid;
    justify-items: center;
}

.welcome{
    display: grid;
    width: 80%;
    grid-template-columns: 1fr 1fr;
    gap: 2vw;
    align-items:flex-start;
    gap: 5vw;
    min-height: 80vh;
}

.title{
    font-size: 4vw;

}   

.paragraph{
    text-align: justify;
    font-size: 1.1vw;
}

.Playstation{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 1fr;
    min-height: 80vh;
    color: rgb(0, 0, 0);
    padding: 1vw;
    align-items: center;
}

.Playstation-overview{
    grid-area: 1/5/2/10;
    text-align: justify;
}

.Playstation-image{
    grid-area: 1/3/2/4;
}

.Playstation-image:hover{
    filter: drop-shadow(2px 5px 20px rgb(2, 120, 175));
    transition: all .4s ease;
}

@keyframes show{
    from {
        opacity: 0;
        scale:25%
    }
    to {
        opacity: 1;
        scale: 100%;
    }
}

img,.Playstation-overview,.Xbox-overview, .Nintendo-overview{
    view-timeline-name: --image;
    view-timeline-axis: block;

    animation-timeline: --image;
    animation-name: show;
    animation-range: entry 25% cover 50%;
    animation-fill-mode: both;
}

.Xbox{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 1fr;
    min-height: 80vh;
    color: rgb(0, 0, 0);
    padding: 1vw;
    align-items: center;

}

.Xbox-overview{
    grid-area: 1/2/2/8;
    text-align: justify;
}

.Xbox-image{
    grid-area: 1/8/2/9;
}

.Xbox-image:hover{
    filter: drop-shadow(1px 10px 80px #19A119);
    transition: all .4s ease;

}

.Nintendo{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    min-height: 80vh;
    color: rgb(0, 0, 0);
    padding: 1vw;
    align-items: center;

}

.Nintendo-overview{
    grid-area: 1/2/2/12;
    text-align: justify;
}

.Nintendo-image{
    grid-area: 2/2/3/12;
}

.Nintendo-image:hover{
    filter: drop-shadow(1px 10px 80px #bd0202);
    transition: all .4s ease;

}